$yellow: #fece2f;
$black: #1a1a1a;
$white: white;

// * {
//   border: solid 1px;
// }

body {
  background-image: url(../public/BG_02.svg), url(../public/BG_01.svg);
  background-size: cover, cover;
  background-position: center, center;
}

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.bar {
  position: absolute;
  width: 100vw;
  height: 10px;
  background: $yellow;
}

.custom-font-weight {
  font-weight: 700;
}

.custom-input {
  border-radius: 0.5rem;
  border: 1px solid rgb(167, 167, 167);
  padding: 0.5rem 1.5rem;
  margin: 0.5rem 0;
  box-shadow: 0.35rem 0.35rem $yellow;
  &:focus {
    outline: solid 1px $yellow;
  }
}

.custom-input-edit {
  border-radius: 1rem;
  border: 3px solid $black;
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  box-shadow: 0.35rem 0.35rem $yellow;
  &:focus {
    outline: solid 1px $yellow;
  }
}

* {
  font-family: "Noto Sans TC", sans-serif;
}

.custom-btn {
  border: none;
  margin: 5px;
  height: 50px;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.05s;
}

.custom-btn-yellow {
  color: $black;
  background-color: $yellow;
  &:hover {
    background-color: darken($yellow, 15%);
  }
  &:active {
    transform: scale(0.9);
  }
}

.custom-btn-black {
  color: $yellow;
  background-color: $black;
  &:hover {
    color: darken($yellow, 15%);
  }
  &:active {
    transform: scale(0.9);
  }
}

.custom-btn-add {
  color: $yellow;
  background-color: $black;
  &:hover {
    color: darken($yellow, 15%);
  }
  &:active {
    color: $black;
    background-color: $yellow;
  }
}

.custom-btn-done {
  margin: 1rem;
  background-color: white;
  border: none;
  font-weight: 700;
}

.custom-btn-logOut {
  right: 1rem;
  bottom: 1rem;
  padding: 0 1rem;
  position: absolute;
}

.nickname {
  font-weight: 700;
  color: $black;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
}

.gapLine {
  border: solid 1px $black;
  opacity: 1;
  margin: 0;
}

.panel {
  border-radius: 1rem;
  border: 3px solid $black;

  box-shadow: 0.35rem 0.35rem $yellow;
  margin: 1.5rem 0;
  min-height: 300px;
  font-size: 1.5rem;
}

/* 修改复选框的外观 */
input[type="checkbox"].check {
  /* 隐藏默认的复选框 */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* 设置复选框大小和边框 */
  position: relative;
  top: 4px;
  margin: 0 0.5rem;
  width: 20px;
  height: 20px;
  border: 1px solid $black; /* 边框颜色为黑色 */
  border-radius: 0;

  /* 设置选中时的背景颜色和打勾颜色 */
  background-color: $white; /* 复选框背景颜色 */
}

/* 修改复选框的选中状态 */
input[type="checkbox"].check:checked {
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  background-color: $black; /* 选中时的背景颜色为黄色 */
}

/* 添加自定义的打勾符号 */
input[type="checkbox"].check:checked::before {
  content: "✔"; /* 使用自定义的打勾符号 */
  position: absolute;
  text-align: center;
  left: 2px;
  font-size: 16px; /* 打勾的字体大小 */
  color: $yellow; /* 打勾的颜色为黑色 */
  line-height: 18px; /* 使打勾居中 */
}
